@import url('./variables.css');
html::-webkit-scrollbar {
    display: none;
}

.indicateurScrollContainer {
    display: none;
}


/* Design de l'"avant-scroll" de l'utilisateur */

.accueil {
    font-family: Roboto;
}

.bienvenue-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--font-title);
    transition: .5s;
}

.bienvenue {
    width: 50vw;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 6.5rem;
    font-weight: 500;
    animation: typing 4s steps(40, end);
}


/* Animations */

@keyframes typing {
    0% {
        width: 0
    }
    100% {
        width: 100%;
    }
}


/* Design de tout ce qu'il y a après le scroll */

.titreAccueil {
    text-align: center;
    font-size: 5vh;
}