@import url('./variables.css');

/* Animations */

@keyframes typing {
    0% {
        width: 0
    }
    100% {
        width: 100vw;
    }
}

@keyframes bouncing {
    0%,
    50% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@keyframes montrer {
    0%,
    50% {
        opacity: 0;
        transform: translateY(20vh);
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Propriétés HTML */

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

.indicateurScrollContainer {
    display: none;
}


/* Design de la "page d'accueil" (non complète, avant qu'il scroll) de l'utilisateur */

.accueil {
    font-family: Roboto;
}

.bienvenue-container {
    z-index: 10;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--font-title);
    transition: .5s;
}

.bienvenue {
    z-index: 10;
    width: 50vw;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 14.5vh;
    font-weight: 500;
    animation: typing 4s steps(40, end);
}

.autoScroll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -15vh auto;
    background-color: var(--button-color);
    color: var(--bg-color);
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    font-size: 6vh;
    animation: bouncing 2.5s ease infinite 2s, montrer 2s;
    cursor: pointer;
    transition: .5s;
    z-index: 10;
    opacity: 1;
}

.autoScroll i {
    z-index: 10;
}


/* Design de tout ce qu'il y a après le scroll */

.titreAccueil {
    text-align: center;
    font-size: 5vh;
}

.suiteSite {
    margin: 35vh auto;
}


/*Design de l'animation du menu*/

.circles {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 96vw;
    height: 100vh;
    overflow: hidden;
}

.circles li {
    z-index: 5;
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #8e8e8e;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
