@import url('./variables.css');
html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

.indicateurScrollContainer {
    display: none;
}


/* Design de l'"avant-scroll" de l'utilisateur */

.accueil {
    font-family: Roboto;
}

.bienvenue-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--font-title);
    transition: .5s;
}

.bienvenue {
    width: 50vw;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 6.5rem;
    font-weight: 500;
    animation: typing 4s steps(40, end);
}


/* Animations */

@keyframes typing {
    0% {
        width: 0
    }
    100% {
        width: 100%;
    }
}

@keyframes bouncing {
    0%,
    50% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
}


/* Design de tout ce qu'il y a après le scroll */

.titreAccueil {
    text-align: center;
    font-size: 5vh;
}

.suiteSite {
    margin: 25vh auto;
}

.autoScroll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -15vh auto;
    background-color: var(--button-color);
    color: var(--bg-color);
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    font-size: 6vh;
    animation: bouncing 2.5s ease infinite;
    cursor: pointer;
    transition: .5s;
}