@import url('./variables.css');
*:not(header),

/*Exempter l'en-tête de prendre le style suivant, qui va être appliqué sur toute la page*/

.frise::before,
.frise::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--font-paragraph);
    overflow-x: hidden;
    padding-bottom: 50px;
}


/*Frise*/

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.frise {
    margin-top: 25px;
    width: 70%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    margin: 95px auto;
    border-radius: 30px;
}

.frise ul {
    padding: 25px 0;
    border-radius: 30px;
}

.frise ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #fff;
    text-align: justify;
}


/*Design du point de date*/

.frise ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.frise ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background-color: #fff;
    border-radius: 7px;
}

.frise ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.frise ul li:nth-child(odd) div {
    left: 45px;
}

.frise ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #fff transparent transparent;
}

.frise ul li:nth-child(even) div {
    left: -439px;
}

.frise ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #fff;
}

time {
    display: block;
    color: var(--font-title);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/*Effets et animations*/

.frise ul li::after {
    transition: background 0.5s ease-in-out;
}

.frise ul li.in-view::after {
    background: #fff;
}

.frise ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.frise ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.frise ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.frise ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}