@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

.principal {
    padding: 25px;
    background-color: rgb(247, 247, 247);
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}

.saut {
    height: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    height: 65px;
}

#logo {
    width: 59px;
    margin: 0px 0px 0px 250px;
}

.themeBtn {
    width: 25px;
    margin-right: 25px;
}

.navig ul {
    list-style-type: none;
    margin: 0 0 0 220px;
    padding: 0;
}

.navig li {
    float: left;
    margin-left: 35px;
    font-size: 130%;
    padding: 7px 15px 7px 15px;
    border-radius: 8px;
}

.navig li:hover {
    background-color: #ddd;
    transition: .3s;
}

.navig li>a {
    text-decoration: none;
    color: black;
}