@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
:root {
    --bg-color: #eff0f3;
    --navbar-bg: #e1e2e6;
    --font-title: #0d0d0d;
    --font-paragraph: #2a2a2a;
    --button-color: #ff8e3c;
    --font-text-button: var(--font-title);
    color-scheme: dark;
}

body {
    margin: 0;
}

.principal {
    padding: 25px;
    background-color: var(--bg-color);
    color: var(--font-paragraph);
    transition: .5s;
}

section {
    width: 50%;
    margin: 25px auto;
}

.article {
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
    text-align: justify;
}

.titre {
    color: var(--font-title);
    font-size: 35px;
    font-family: 'Space Mono', monospace, Roboto, sans-serif;
    transition: .5s;
}

.saut {
    height: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    height: 65px;
    background-color: var(--navbar-bg);
    transition: .5s;
    font-family: Roboto, sans-serif;
}

#logo {
    width: 59px;
    margin: 0px 0px 0px 250px;
}

.iconeThemeBtn {
    font-size: 25px;
    color: var(--font-paragraph);
}

#themeBtn {
    margin-right: 25px;
    cursor: pointer;
}

.iconeThemeBtn:hover {
    color: var(--button-color);
    transition: .3s;
}

.navig ul {
    list-style-type: none;
    margin: 0 0 0 100px;
    padding: 0;
}

.navig li {
    float: left;
    margin-left: 25px;
    font-size: 120%;
    padding: 7px 5px 7px 5px;
    border-radius: 8px;
}

.active {
    border-bottom: 1px var(--font-paragraph) solid;
}

.navig li:hover {
    background-color: var(--bg-color);
    transition: .3s;
}

.navig li>a {
    text-decoration: none;
    color: var(--font-title);
    transition: .5s;
}