@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/*Import des variables situées dans un autre fichier*/

@import url('./variables.css');
html {
    scroll-behavior: smooth;
}


/* Design du bouton pour changer le thème*/

#themeBtn #dmtoggle {
    width: 48px;
    height: 48px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 32px;
    opacity: 1;
    cursor: pointer;
    transition: transform .3s, opacity .3s;
}

body.light #themeBtn #dmtoggle {
    transform: rotate(-45deg);
}

#themeBtn #dmtoggle div {
    position: absolute;
    background: var(--font-paragraph);
    transition: .3s;
}

#themeBtn #dmtoggle:hover div:not(.darc) {
    background: var(--button-color);
}

body.light #themeBtn #dmtoggle div {
    background: var(--font-paragraph);
}

body.light #themeBtn #dmtoggle:hover .arc {
    background: var(--button-color);
}

#themeBtn #dmtoggle .arc,
#themeBtn #dmtoggle .darc {
    width: 16px;
    height: 16px;
    border-radius: 16px;
}

body.light #themeBtn #dmtoggle .arc {
    transform: scale(1.2);
}

#themeBtn #dmtoggle .darc {
    background: var(--bg-color);
    transform: translateX(24px);
}

body.light #themeBtn #dmtoggle .darc {
    transform: translateX(6px);
    background: var(--bg-color);
}

#themeBtn #dmtoggle .rayon {
    width: 6px;
    height: 2px;
    border-radius: 2px;
}

#themeBtn #dmtoggle .rayon.un {
    transform: rotate(0deg) translateX(14px);
}

#themeBtn #dmtoggle .rayon.deux {
    transform: rotate(45deg) translateX(14px);
}

#themeBtn #dmtoggle .rayon.trois {
    transform: rotate(90deg) translateX(14px);
}

#themeBtn #dmtoggle .rayon.quatre {
    transform: rotate(135deg) translateX(14px);
}

#themeBtn #dmtoggle .rayon.cinq {
    transform: rotate(180deg) translateX(14px);
}

#themeBtn #dmtoggle .rayon.six {
    transform: rotate(225deg) translateX(14px);
}

#themeBtn #dmtoggle .rayon.sept {
    transform: rotate(270deg) translateX(14px);
}

#themeBtn #dmtoggle .rayon.huit {
    transform: rotate(315deg) translateX(14px);
}

body.light #themeBtn #dmtoggle .rayon {
    transform: scaleX(0.01);
    opacity: 0;
}


/*Écrasement de la valeur margin par défaut du body, définition du style des sections principales*/

body {
    margin: 0;
    background: var(--bg-color);
    transition: .5s;
}

a {
    text-decoration: none;
    color: inherit;
}

.principal {
    padding: 25px;
    color: var(--font-paragraph);
    transition: .5s;
}

.main {
    width: 50%;
    margin: 85px auto;
}

 ::selection {
    color: var(--bg-color);
    background-color: var(--font-paragraph);
}

.article {
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
    text-align: justify;
}

.titre {
    color: var(--button-color);
    font-size: 35px;
    font-family: 'Space Mono', monospace, Roboto, sans-serif;
    transition: .5s;
}

.saut {
    height: 25px;
}

.saut-section {
    height: 15px;
}


/*Design de la barre de navigation (navbar)*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    /* border-bottom: 2px var(--font-title) solid; */
    height: 65px;
    background-color: var(--bg-color);
}

.navbar {
    width: 100%;
    transition: .5s;
    font-family: Roboto, sans-serif;
    z-index: 99;
    /* Pour éviter que quelque chose ne passe par dessus*/
}

#logo {
    width: 150px;
    margin: 0px 0px 0px 130px;
}

.iconeThemeBtn {
    font-size: 25px;
    color: var(--font-paragraph);
}

#themeBtn {
    margin-right: 25px;
    cursor: pointer;
}

.iconeThemeBtn:hover {
    color: var(--button-color);
    transition: .3s;
}

.navig ul {
    list-style-type: none;
    margin: 0 0 0 250px;
    padding: 0;
}

.navig li {
    float: left;
    margin-left: 25px;
    font-size: 120%;
    padding: 7px 5px 7px 5px;
    border-radius: 8px;
}

.active {
    font-weight: bold;
}

.navig li>a:hover {
    color: var(--button-color);
    transition: .3s;
}

.navig li>a {
    text-decoration: none;
    color: var(--font-title);
    transition: .5s;
}

.indicateurScrollContainer {
    width: 100%;
    height: 3px;
    position: fixed;
    top: 65px;
    z-index: 10;
}

.indicateurScroll {
    height: 3px;
    background: var(--button-color);
    width: 0%;
    transition: .6s;
    z-index: 10;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 8px;
}

.overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--bg-variant);
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.container:hover .overlay {
    opacity: 0.85;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.content {
    color: var(--font-title);
    padding: 10px;
    text-align: center;
    width: fit-content;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: Roboto, sans-serif;
    line-height: 45px;
}

.sous-titre {
    font-size: 1.3rem;
    margin: 25px 0 10px 0;
    font-family: 'Space Mono', 'Roboto', Arial, Helvetica, sans-serif;
    text-indent: 20px;
}

.liste {
    list-style: none;
    padding: 0;
}

#retournerHaut {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    border: none;
    outline: none;
    background-color: var(--font-paragraph);
    color: var(--bg-color);
    cursor: pointer;
    padding: 14px;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0;
    transition: opacity .5s;
}

#retournerHaut:hover {
    background-color: var(--button-color);
    transition: .2s;
}

footer {
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
    margin: 0 auto 15px auto;
    width: 90vw;
    height: 200px;
    background-color: var(--bg-variant);
    border-radius: 25px;
    box-sizing: border-box;
    padding: 20px 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: .6s;
}

footer h1 {
    color: var(--font-title);
    margin: 0;
    font-size: 3.5vh;
}

#themeBtn-liste {
    margin: 9px 0;
    list-style: none;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 2vh;
    line-height: 3.5vh;
    height: 110px;
}

.sources {
    padding-right: 8px;
    /* width: 25vw; */
    overflow-y: scroll;
}

.sources::-webkit-scrollbar {
    width: 10px;
}

.sources::-webkit-scrollbar-track {
    background: var(--bg-variant);
    border: 1px var(--bg-color) solid;
    border-radius: 10px;
}

.sources::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 10px;
}