@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/*Import des variables situées dans un autre fichier*/

@import url('./variables.css');

/*Écrasement de la valeur margin par défaut du body, définition des animations et du style des sections principales*/

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.principal {
    padding: 25px;
    background-color: var(--bg-color);
    color: var(--font-paragraph);
    transition: .5s;
}

.main {
    width: 50%;
    margin: 85px auto;
}

.article::selection,
.titre::selection,
li::selection {
    color: var(--bg-color);
    background-color: var(--font-paragraph);
}

.article {
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
    text-align: justify;
}

.titre {
    color: var(--font-title);
    font-size: 35px;
    font-family: 'Space Mono', monospace, Roboto, sans-serif;
    transition: .5s;
}

.saut {
    height: 15px;
}


/*Design de la barre de navigation (navbar)*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    /* border-bottom: 2px var(--font-title) solid; */
    height: 65px;
    background-color: var(--bg-color);
}

.navbar {
    width: 100%;
    transition: .5s;
    font-family: Roboto, sans-serif;
    z-index: 10;
}

#logo {
    width: 150px;
    margin: 0px 0px 0px 130px;
}

.iconeThemeBtn {
    font-size: 25px;
    color: var(--font-paragraph);
}

#themeBtn {
    margin-right: 25px;
    cursor: pointer;
}

.iconeThemeBtn:hover {
    color: var(--button-color);
    transition: .3s;
}

.navig ul {
    list-style-type: none;
    margin: 0 0 0 250px;
    padding: 0;
}

.navig li {
    float: left;
    margin-left: 25px;
    font-size: 120%;
    padding: 7px 5px 7px 5px;
    border-radius: 8px;
}

.active {
    font-weight: bold;
}

.navig li>a:hover {
    color: var(--button-color);
    transition: .3s;
}

.navig li>a {
    text-decoration: none;
    color: var(--font-title);
    transition: .5s;
}

.indicateurScrollContainer {
    width: 100%;
    height: 3px;
    position: fixed;
    top: 65px;
    z-index: 10;
}

.indicateurScroll {
    height: 3px;
    background: var(--button-color);
    width: 0%;
    transition: .6s;
    z-index: 10;
}

img {
	margin-left: auto;
	margin-right: auto;
	display:block;
	border-radius: 8px;
}

.overlay {
	border-radius: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #ededed;
}

.container {
	position: relative;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.container:hover .overlay {
	opacity: 0.8;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.content {
	color: #444444;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-family: Roboto, sans-serif;
}
